doctype 5
html(lang="es")
	head
		title = "Chat Node JS"
		meta(charset='utf-8')
		style
			p{width:10px;height:10px;background:green;position:absolute;}
	body 
		
			
	script(src='/socket.io/socket.io.js')
	script(src='scripts/classExtends.js')
	script(src='scripts/Scenario.js')
	script(src='scripts/Graphics.js')
	script(src='scripts/Personajes.js')
	script(src='scripts/frontend.js')

			
