<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Comunicacion</title>

    <script src="/public/lib/three.min.js"></script>
    <script src="/public/lib/sprites/loadImage.js"></script>
    <script src="/public/lib/sprites/underscore-min.js"></script>
    <script src="/public/lib/sprites/AnimatedSprites.js"></script>

    <script type="text/javascript" src="/socket.io/socket.io.js"></script>

    <!-- Conexion socket -->
    <script type="text/javascript" src="/public/scripts/cliente.js"></script>

    <!-- Cargo clases y controllers-->
    <script type="text/javascript" src="/public/scripts/class/User.js"></script>
    <script type="text/javascript" src="/public/scripts/class/Client.js"></script>
    <script type="text/javascript" src="/public/scripts/controllers/userController.js"></script>
    <script type="text/javascript" src="/public/scripts/controllers/gameController.js"></script>
    <script src="/public/scripts/class/framework.js"></script>
    <script src="/public/scripts/class/Sprites.js"></script>
    <script src="/public/scripts/class/Controls.js"></script>
    <script src="/public/scripts/class/Being.js"></script>
    <script src="/public/scripts/class/Terrain.js"></script>
    <script src="/public/scripts/class/Artifact.js"></script>
    <script src="/public/scripts/class/beings/Elfo.js"></script>
    <script src="/public/scripts/class/beings/Aguila.js"></script>
    <script src="/public/scripts/class/terrains/Tierra.js"></script>
    <script src="/public/scripts/class/terrains/Agua.js"></script>
    <script src="/public/scripts/class/artifacts/Daga.js"></script>
    <script src="/public/scripts/class/artifacts/Pollo.js"></script>
    <script src="/public/scripts/class/artifacts/Manzana.js"></script>
    <script src="/public/scripts/class/artifacts/Papiro.js"></script>
    <script src="/public/scripts/class/artifacts/Escudo.js"></script>
    <script src="/public/scripts/class/artifacts/Casco.js"></script>
    <script src="/public/scripts/class/artifacts/PocionRoja.js"></script>
    <script src="/public/scripts/class/Tile.js"></script>
    <script src="/public/scripts/class/World.js"></script>
    <!--<script src="/public/lib/three.min.js"></script>
    <script src="/public/lib/threeSound.js"></script>-->
    <script>
        var audio = [];
        audio['pegar'] = new Audio('/public/sounds/pegar.wav');
        audio['caminar'] = new Audio('/public/sounds/caminar_arena.mp3');
        audio['muerte'] = new Audio('/public/sounds/muerte.mp3');

    </script>
    <style>
        body{background-color:#000000;}
        .loading{-webkit-transition:all 1s ease;transition:all 1s ease;background-image: url(/public/views/loading.gif); position:absolute; left:50%;top:50%;-webkit-transform:translate3d(-50%,-50%,0);transform:translate3d(-50%,-50%,0);z-index:1000;width:50px;height:50px;}
        .loading .loading-text{color:white;position:relative;top:50px;left:-123px;width:300px;text-align:center;display:block;opacity:.5;font-family: tahoma;}
        #ping{color:white;opacity:.5;font-family: tahoma;}

        #preload{color:white; }
    </style>

    <script src="/public/scripts/class/Preload.js"></script>
    <script>
        var preload = new Preload();

        var audio = [];
        audio['pegar'] = new Audio('/public/sounds/pegar.wav');
        audio['caminar'] = new Audio('/public/sounds/caminar_arena.mp3');
        audio['muerte'] = new Audio('/public/sounds/muerte.mp3');

        preload.init({ "sounds" : audio });


    </script>
</head>
<body>
    <div id="ping">--</div>
    <div class="loading">
        <div class="loading-text">
            <span id="loading-text">Cargando sonidos</span>
            <div id="percent">0%</div>
        </div>

    </div>
    <script>
        var sprites = new Sprites();
        var world = new World();
    </script>
</body>
</html>
