<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Comunicacion</title>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/public/scripts/cliente.js"></script>

</head>
<body>
    <h1>Llegaste</h1>
</body>
</html>
